_Store
*.xcworkspace
LCH.xcworkspace
.DS_Store
.Trashes
*.swp  
xcuserdata
Pods
*.lock
*~.nib
*.pbxuser

#java
src/main/webapp/WEB-INF/classes
LCH/.classpath
LCH/.project
.classpath
.project
.settings
core-common/.settings
.externalToolBuilders

#android
*.iml
app/build
target
.idea
out
.gradle
.iml
local.properties
gradle.properties
other
rebel.xml
MANIFEST.MF
*/*.cmd
*/mvnw
ruhr-socket/.mvn
/transaction-logs/**
ruhr-socket/transaction-logs/**
WebRoot/WEB-INF/classes
core-1.0.jar
junit-3.8.1.jar
project/web/newpage/02设计/PSD/网站2-assets
*.war

#js
node_modules
*.log
*.st
*.class
application.pid
**/.flattened-pom.xml
flatten-pom.xml
**/flatten-pom.xml
flatten-pom
**/flatten-pom
